%h2 MovieCannon
%h3 Welcome to the world's largest film Catalog!
= link_to "To Catalog", films_path, class: "btn btn-info"
-# = link_to 'Edit Working Data', [:edit,:admin_portal,@bis], class: 'btn btn-sm btn-warning-outline'
