%h2 Catalog
%h3 Display all films in the catalog here, boostrap-card format

.row
  - @films.each do |film|
    .col-sm-6
      .card.mb-4
        =image_tag "btsgodfater.jpg"
        .card-body
          %h4.card-title= film.title
          -# %h5.card-subtitle= film.genres
          %p.card-text= film.description
          %br hey
          = link_to "More info", film_path(film), class: "btn btn-secondary"
