%h2 Catalog

.row
  - @films.each do |film|
    .col-sm-4
      .card.border-primary.mb-6{:style => "width: 25rem;"}
        =image_tag "Empirestrikesback.jpg", {class: "card-img-top", height: 500, width: 400}
        .card-body
          %h4.card-title= film.title
          %h5.card-subtitle
            =image_tag 'PG.png', {height: 48, width: 48}
            Genres
          %p.card-text= film.description
          .col-md-4.text-center
            = link_to "More info", film_path(film), class: "btn btn-secondary"
