.container
  .row
    .col-sm-8
      %h1 Uh Oh...
      %h2 It looks like the page you were looking for isn't here. Sorry!
      %p
        You can go back to the homepage, or use the links on the left side of the page.

      %p=link_to "Back to home", root_path, class: 'btn btn-primary btn-big'
