.container
  %h2.mb-4.mt-4{style: "font-weight: bold; color: #fff"} Uh Oh...
  %h3.mb-4 It looks like the page you were looking for isn't here. Sorry!
  %p=link_to "Back to Home", root_path, class: 'btn btn-secondary'
