/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 h2{
   color: #FFFFFF;
   font-size: 5rem;
   text-align: center;
   background-color: #168679;
 }

 h3{
   color: #168679;
   font-size: 2rem;
   text-align: center;
 }

 .wrapper{
   font-family: Sans-serif;
   /* position: fixed; */
 }

.page{
  font-family: Sans-serif;
  text-align: center;
}

 ul.nav {
   color: #168679;
   text-align: center;
   margin: 10px 0 0 ;
   padding: 1rem 0;
 }

 a.nav-link{
   color: #168679;
   list-style: none;
   margin: 0 2px;
   padding: 0;
 }

 li.nav-item {
    color: #168679;
    display: inline-block;
    padding: 5px 5px;
 }
