$body-bg: #168679;
@import "bootstrap";
@import "trix";

body {
  // font-family: Sans-serif;
  // background-image: asset-url("btsgodfater.jpg");
  // background-repeat: repeat;
}

.film_description{
  color: #ffffff;
  padding-right: 6rem;
}

.homepage{
  margin-top: 3rem;
  text-align: center;
  color: #ffffff;
}

.text-center{
  padding-top: 1rem;
  text-align: center;
}

 .search {
   text-align: center;
   font-size: 1rem;
   font-weight: bold;
   color: #9ACDD9;
   padding: 1rem;
  }

  .search.submit {
    color: #9ACDD9;
  }

 h2{
   font-size: 5rem;
   padding: 1rem;
 }

 h3{
   font-size: 2rem;
 }

 h6{
   color: #ffffff;
   padding-top: 1rem;
   padding-left: 1rem;
   font-size: 6rem;
   font-style: italic;
 }

 .card-columns {
   @include media-breakpoint-only(lg) {
     column-count: 4;
   }
   @include media-breakpoint-only(xl) {
     column-count: 5;
   }
 }

 .card{
   border-radius: 1rem;
 }

 .card-img-top{
   border-radius: 0.5rem;
 }

 .card-text{
   padding-top: 0.7rem;
   font-size: 0.7rem;
 }

 .card-title{
   color: #168679;
   font-weight: bold;
   font-style: italic;
 }

.field{
  text-align: center;
}

.actions{
  text-align: center;
}

.background{
  text-align: center;
  background-repeat:repeat;
}

.film-info-list {
  padding-left: 0;
  list-style: none;
}

.film-info-badge{
  border-radius: 0.5rem;
  background-color: #ffffff;
  color: #168679;
  padding: 4px 8px;
}

.review-page{
  margin-top: 5rem;
}

.text-box-container{
  background-color:#ffffff;
  border-top-left-radius: 0.35rem;
  border-top-right-radius: 0.35rem;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
}

// .review-text-box{
//   margin-right: 15rem;
// }
