$body-bg: #168679;
@import "bootstrap";
@import "trix";
@import "select2/dist/css/select2";

body {
  // font-family: Sans-serif;
  // background-image: asset-url("btsgodfater.jpg");
  // background-repeat: repeat;
}

.flash-formatting{
  text-align: center;
  font-size: 2rem;
  color: white;
  font-style: italic;
}

.film_description{
  color: #ffffff;
  padding-right: 6rem;
}

.homepage{
  margin-top: 3rem;
  text-align: center;
  color: #ffffff;
}

.text-center{
  padding-top: 1rem;
  text-align: center;
}

 .search {
   text-align: center;
   font-size: 1rem;
   font-weight: bold;
   color: #9ACDD9;
   padding: 1rem;
  }

  .search.submit {
    color: #9ACDD9;
  }

 h2{
   font-size: 5rem;
   padding: 1rem;
 }

 h3{
   font-size: 2rem;
 }

 h6{
   color: #ffffff;
   padding-top: 1rem;
   padding-left: 1rem;
   font-size: 6rem;
   font-style: italic;
 }

 .card-columns {
   @include media-breakpoint-only(lg) {
     column-count: 4;
   }
   @include media-breakpoint-only(xl) {
     column-count: 5;
   }
 }

 .card{
   border-radius: 0.5rem;
 }

 .card-img-top{
   border-radius: 0.5rem;
 }

 .card-text{
   padding-top: 0.7rem;
   font-size: 0.7rem;
 }

 .card-title{
   color: #168679;
   font-weight: bold;
   font-style: italic;
 }


.actions{
  text-align: center;
}

.background{
  text-align: center;
  background-repeat:repeat;
  filter:grayscale(100%);
}

.film-info-list {
  padding-left: 0;
  list-style: none;
}

.film-info-badge{
  border-radius: 0.5rem;
  background-color: #ffffff;
  color: #168679;
  padding: 4px 8px;
}

.review-page{
  margin-top: 5rem;
}

.btn-secondary{
  background-color: #ffffff;
  color: #168679;
  border-radius: 1rem;
}

.btn-primary{
  background-color: grey;
  border-color: grey;
  color: #ffffff;
  border-radius: 1rem;
}

.btn-primary:hover{
  background-color: orange;
  color: black;
  border-color: lime;
}

.btn-link{
  color: white;
}

.btn-link:hover{
  color: orange;
}

.btn-sm{
  border-radius: 1rem;
}

.btn-lg{
  border-radius: 2rem;
}

trix-editor {
  background-color: white;
  width: 90%;
}

text_field {
  color: #fff;
}

trix-toolbar {
  .trix-button {
    background-color: white;
  }
}

.bottom-page-padding{
  padding-bottom: 5rem;
}

.film-edit-container{
  padding: 1rem;
}

.white{
  color: white;
}

.black{
  color: black;
}

.select-2selection__choice{
  color: #010000;
}

.boldhead{
  font-size: 1.25rem;
  font-weight: bold;
  font-style: oblique;
}

.bold{
  font-weight:bold;
}

.mvp{
  align-items: center;
  align-self: center;
  align-content: center;
  text-align: center;
  .card-body{
    opacity: 1;
    text-align: left;
    height: 7rem;
    color: #168679;;
  }
  .card{
    opacity: 0.8;
    border-radius: 2rem;
  }

}


// .review-text-box{
//   margin-right: 15rem;
// }
